---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: page
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---


<div class="mt-12 grid gap-16 lg:grid-cols-3 lg:gap-x-5 lg:gap-y-12">
  {% set postslist = collections[ tag ] %}
  {% include "postslist.njk" %}
</div>

<p class="p-6 my-6">
  <a href="{{ '/tags/' | url }}">Tag List →</a>
</p>
