{% from "components/TagLink.njk" import TagLink %}

{% macro PostSummary(post) %}
  {% set author = post.data.author %}

  <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
    <div class="flex-shrink-0">
      <a href="{{ post.url }}">
        {% if post.data.img %}
          <img class="h-48 w-full object-cover" src="{{ post.data.img }}" alt="">
        {% else %}
           <div class="h-48 bg-indigo-600" ></div>
        {% endif %}
      </a>
    </div>
    <div class="flex-1 bg-white p-6 flex flex-col justify-between">
      <div class="flex-1">

        <div>
          {% for tag in post.data.tags | customTags %}
            <div class="inline-block pb-1">
            {{ TagLink(tag) }}
            </div>
          {% endfor %}
        </div>

        <a href="{{ post.url }}" class="block mt-2">
          <p class="text-xl font-semibold text-gray-900">
            {{ post.data.title }}
          </p>
          <p class="mt-3 text-base text-gray-500">
            {{ post.data.description }}
          </p>
        </a>
      </div>
      <div class="mt-6 flex items-center">
        <div class="flex-shrink-0">
          <a href="{{ author.linkedInUrl }}">
          <span class="sr-only">{{ author.name }}</span>
          <img class="h-10 w-10 rounded-full" src="{{ author.img }}" alt="">
          </a>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-gray-900">
            <a href="{{ author.linkedInUrl }}" class="hover:underline">
              {{ author.name }}
            </a>
          </p>
          <div class="flex space-x-1 text-sm text-gray-500">
            <time datetime="{{ post.date | htmlDateString }}">
              {{ post.date | readableDate }}
            </time>
            <span aria-hidden="true">
              &middot;
            </span>
            <span>
              4 min read
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endmacro %}
