---
title: Archive
layout: page
permalink: /posts/
---

<div class="mt-12 grid gap-16 lg:grid-cols-3 lg:gap-x-5 lg:gap-y-12">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
